layout {

    focus-ring {
        active-color   "#c5c8bc"
        inactive-color "#141312"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c5c8bc"
        inactive-color "#141312"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#c5c8bc"
        inactive-color "#262921"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c5c8bc80"
    }
}

recent-windows {
    highlight {
        active-color "#c5c8bc"
        urgent-color "#ffb4ab"
    }
}
